Finch/finch-night.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="http://www.tei-c.org/ns/1.0" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="TEI">
      <attribute>
        <name ns="http://www.w3.org/XML/1998/namespace">id</name>
        <data type="NCName"/>
      </attribute>
      <element name="teiHeader">
        <attribute>
          <name ns="http://www.w3.org/XML/1998/namespace">lang</name>
          <data type="NCName"/>
        </attribute>
        <element name="fileDesc">
          <element name="titleStmt">
            <ref name="title"/>
            <ref name="author"/>
            <element name="editor">
              <ref name="persName"/>
            </element>
            <element name="respStmt">
              <element name="resp">
                <text/>
              </element>
              <oneOrMore>
                <element name="name">
                  <text/>
                </element>
              </oneOrMore>
            </element>
          </element>
          <element name="publicationStmt">
            <ref name="publisher"/>
            <element name="distributor">
              <element name="orgName">
                <text/>
              </element>
              <element name="address">
                <oneOrMore>
                  <element name="addrLine">
                    <text/>
                  </element>
                </oneOrMore>
              </element>
              <element name="email">
                <text/>
              </element>
            </element>
            <element name="authority">
              <ref name="idno"/>
            </element>
            <element name="availability">
              <attribute name="status">
                <data type="NCName"/>
              </attribute>
              <element name="licence">
                <attribute name="target">
                  <data type="anyURI"/>
                </attribute>
                <text/>
              </element>
            </element>
            <element name="textDesc">
              <element name="constitution">
                <attribute name="status">
                  <data type="NCName"/>
                </attribute>
                <text/>
              </element>
            </element>
            <ref name="date"/>
          </element>
          <element name="sourceDesc">
            <element name="biblStruct">
              <element name="analytic">
                <ref name="title"/>
              </element>
              <element name="monogr">
                <ref name="author"/>
                <oneOrMore>
                  <ref name="title"/>
                </oneOrMore>
                <oneOrMore>
                  <element name="imprint">
                    <ref name="pubPlace"/>
                    <oneOrMore>
                      <ref name="publisher"/>
                    </oneOrMore>
                    <ref name="date"/>
                    <element name="extent">
                      <optional>
                        <attribute name="type">
                          <data type="NCName"/>
                        </attribute>
                      </optional>
                      <oneOrMore>
                        <choice>
                          <text/>
                          <ref name="idno"/>
                        </choice>
                      </oneOrMore>
                    </element>
                    <optional>
                      <ref name="note"/>
                    </optional>
                  </element>
                </oneOrMore>
                <element name="biblScope">
                  <text/>
                </element>
              </element>
            </element>
          </element>
        </element>
        <element name="encodingDesc">
          <element name="projectDesc">
            <oneOrMore>
              <choice>
                <text/>
                <element name="i">
                  <text/>
                </element>
              </choice>
            </oneOrMore>
          </element>
          <element name="editorialDecl">
            <element name="interpretation">
              <text/>
            </element>
            <element name="normalization">
              <text/>
            </element>
            <element name="hyphenation">
              <text/>
            </element>
            <element name="segmentation">
              <text/>
            </element>
            <element name="correction">
              <text/>
            </element>
          </element>
          <element name="tagsDecl">
            <element name="namespace">
              <attribute name="name">
                <data type="anyURI"/>
              </attribute>
              <element name="tagUsage">
                <attribute name="gi">
                  <data type="NCName"/>
                </attribute>
                <text/>
              </element>
            </element>
          </element>
          <element name="classDecl">
            <oneOrMore>
              <element name="taxonomy">
                <attribute>
                  <name ns="http://www.w3.org/XML/1998/namespace">id</name>
                  <data type="NCName"/>
                </attribute>
                <element name="bibl">
                  <text/>
                </element>
              </element>
            </oneOrMore>
          </element>
        </element>
      </element>
      <element name="text">
        <element name="front">
          <element name="titlePage">
            <ref name="pb"/>
            <oneOrMore>
              <choice>
                <ref name="p"/>
                <element name="titlePart">
                  <oneOrMore>
                    <choice>
                      <text/>
                      <ref name="hi"/>
                      <ref name="lb"/>
                      <ref name="ref"/>
                    </choice>
                  </oneOrMore>
                </element>
              </choice>
            </oneOrMore>
            <element name="docImprint">
              <oneOrMore>
                <choice>
                  <text/>
                  <ref name="lb"/>
                  <ref name="pubPlace"/>
                  <ref name="publisher"/>
                  <element name="docDate">
                    <data type="integer"/>
                  </element>
                </choice>
              </oneOrMore>
            </element>
          </element>
        </element>
        <element name="body">
          <ref name="div1"/>
        </element>
        <element name="back">
          <ref name="div1"/>
        </element>
      </element>
    </element>
  </start>
  <define name="title">
    <element name="title">
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <text/>
    </element>
  </define>
  <define name="author">
    <element name="author">
      <ref name="persName"/>
    </element>
  </define>
  <define name="persName">
    <element name="persName">
      <optional>
        <attribute name="key">
          <data type="NMTOKEN"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <element name="forename">
            <data type="NCName"/>
          </element>
          <element name="surname">
            <data type="NCName"/>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="publisher">
    <element name="publisher">
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="hi"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="idno">
    <element name="idno">
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <text/>
    </element>
  </define>
  <define name="date">
    <element name="date">
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <attribute name="when">
        <data type="NMTOKEN"/>
      </attribute>
      <text/>
    </element>
  </define>
  <define name="pubPlace">
    <element name="pubPlace">
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="hi"/>
          <element name="placeName">
            <attribute name="key">
              <data type="integer"/>
            </attribute>
            <attribute name="type">
              <data type="NCName"/>
            </attribute>
            <data type="NCName"/>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="note">
    <element name="note">
      <optional>
        <attribute name="resp">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute>
          <name ns="http://www.w3.org/XML/1998/namespace">id</name>
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="p"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="pb">
    <element name="pb">
      <attribute name="facs"/>
      <optional>
        <attribute name="n"/>
      </optional>
    </element>
  </define>
  <define name="lb">
    <element name="lb">
      <empty/>
    </element>
  </define>
  <define name="hi">
    <element name="hi">
      <attribute name="rend">
        <data type="NCName"/>
      </attribute>
      <text/>
    </element>
  </define>
  <define name="ref">
    <element name="ref">
      <attribute name="target">
        <data type="anyURI"/>
      </attribute>
      <optional>
        <attribute>
          <name ns="http://www.w3.org/XML/1998/namespace">id</name>
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="hi"/>
          <ref name="lb"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="p">
    <element name="p">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="ref"/>
          <element name="graphic">
            <attribute name="style">
              <data type="NMTOKEN"/>
            </attribute>
            <attribute name="url">
              <data type="anyURI"/>
            </attribute>
            <attribute name="width">
              <data type="integer"/>
            </attribute>
          </element>
          <element name="ptr">
            <attribute name="target"/>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="div1">
    <element name="div1">
      <attribute name="type">
        <data type="NCName"/>
      </attribute>
      <optional>
        <ref name="pb"/>
      </optional>
      <element name="head">
        <optional>
          <attribute name="type">
            <data type="NCName"/>
          </attribute>
        </optional>
        <oneOrMore>
          <choice>
            <text/>
            <ref name="hi"/>
            <ref name="ref"/>
          </choice>
        </oneOrMore>
      </element>
      <choice>
        <element name="lg">
          <attribute name="type"/>
          <oneOrMore>
            <choice>
              <ref name="pb"/>
              <element name="l">
                <attribute name="n">
                  <data type="integer"/>
                </attribute>
                <optional>
                  <attribute name="rend">
                    <data type="NCName"/>
                  </attribute>
                </optional>
                <oneOrMore>
                  <choice>
                    <text/>
                    <ref name="hi"/>
                    <ref name="ref"/>
                  </choice>
                </oneOrMore>
              </element>
            </choice>
          </oneOrMore>
        </element>
        <oneOrMore>
          <ref name="note"/>
        </oneOrMore>
      </choice>
    </element>
  </define>
</grammar>
